@use '../variables/colors' as c;
@use '../variables/sizes' as s;
@use '../mixins/media_queries' as q;
@use '../mixins/mixins' as m;

.about {
    @include m.flex(column);
    align-items: center;
    gap: 1.5em;
    &__image {
        object-fit: contain;
        width: 90%;
        max-width: 300px;
        border-radius: 100%;
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    }

    @include q.large-tablet {
        @include m.flex(row, space-evenly);
        gap: 4em;
        &__content {
            @include m.flex(column, center);
            max-width: 50%;
        }
    }
}