@use '../mixins/media_queries' as q;
@use '../mixins/mixins' as m;

.about {
    @include m.flex(column);
    align-items: center;
    gap: 1.5em;
    &__image {
        object-fit: contain;
        width: 90%;
        max-width: 300px;
        border-radius: 100%;
        @include m.shadow;
    }

    @include q.large-tablet {
        @include m.flex(row, space-evenly);
        gap: 4em;
        &__content {
            @include m.flex(column, center);
            max-width: 50%;
        }
    }

    @include q.large-desktop {
        &__image {
            max-width: 400px;
        }
    }
}