@use '../mixins/media_queries' as q;
@use '../mixins/mixins' as m;

.card {
    @include m.flex(column);
    max-width: 400px; 
    padding: 1.5em;
    gap: 1.5em;
    border-radius: 20px;
    @include m.shadow;
    &__header {
        font-size: 1.5em;
        text-align: center;
        margin: 0;
    }
    &__image {
        object-fit: contain;
        width: 100%;
        border-radius: 20px;
    }
    &__text {
        margin: 0;
        text-align: center;
        font-size: 1.1em;
        &--small {
            font-size: 1em;
        }
    }

    @include q.large-tablet {
        padding: 1.75em;
        gap: 1.75em;
        &__header {
            font-size: 1.75em;
        }
        &__image { 
            max-width: 435px;
        }
        &__text {
            font-size: 1.25em;
            &--small {
                font-size: 1.1em;
            }
        }
    }
}