@use "../mixins/media_queries" as q;
@use "../mixins/mixins" as m;
@use "../variables/colors" as c;

.card {
  @include m.flex(column);
  width: 350px;
  color: c.$dark-blue-text;
  &__link {
    color: c.$dark-blue-text;
    &:visited {
      color: c.$dark-blue-text;
    }

    &--accent {
      color: c.$accent;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: c.$accent;
      }
    }
  }
  background-color: white;
  border-radius: 20px;
  &__content {
    @include m.flex(column);
    padding: 1.5em;
    gap: 1em;
  }

  &__header {
    font-size: 1.35em;
    margin: 0;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  &__text {
    margin: 0;
    font-size: 0.85em;
    &--small {
      font-size: 1em;
    }
  }

  &__language-list {
    @include m.flex();
    flex-wrap: wrap;
    list-style: none;
    gap: 0.4em;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
  }

  &__language {
    color: c.$teal;
    background-color: #eaefef;
    font-size: 0.8em;
    font-weight: 500;
    border: 1px solid c.$teal;
    border-radius: 5px;
    padding: 0.25em;
  }

  @include q.large-tablet {
    &__text {
      font-size: 0.9em;
      &--small {
        font-size: 1.1em;
      }
    }
  }

  @include q.large-desktop {
    &__header {
      font-size: 1.5em;
    }
    &__text {
      font-size: 1.25em;
      &--small {
        font-size: 1.25em;
      }
    }
  }
}
