@use "../mixins/media_queries" as q;
@use "../mixins/mixins" as m;

.contact {
  @include m.flex(column);
  align-items: center;
  gap: 2em;
  padding-top: 2em;
  &__content {
    @include m.flex(column);
    align-items: center;
    width: 100%;
    gap: 0.8em;
  }
  &__icon {
    font-size: 2em;
  }
  &__link {
    margin: 0;
    font-weight: 300;
    font-size: 1.25em;
  }

  @include q.large-tablet {
    gap: 3em;
    &__content {
      align-items: flex-start;
      gap: 1em;
    }
    &__icon {
      font-size: 2.5em;
    }
    &__link {
      font-size: 1.5em;
    }
  }

  @include q.large-desktop {
    &__content {
      gap: 1.25em;
    }
    &__icon {
      font-size: 3.5em;
    }
    &__link {
      font-size: 2.25em;
    }
  }
}
