@use '../mixins/media_queries' as q;
@use '../mixins/mixins' as m;

.header {
    @include m.flex(column, center);
    align-items: center;
    height: 70vh;
    gap: 1em;

    @include q.large-tablet {
        align-items: flex-start;
    }
}