@use '../variables/colors' as c;
@use '../variables/sizes' as s;
@use '../mixins/media_queries' as q;
@use '../mixins/mixins' as m;

.navbar {
    @include m.flex(row, space-between);
    align-items: center;
    position: relative;
    background-color: c.$light-blue;
    &__icon {
        color: c.$deep-purple;
        cursor: pointer;
        font-size: 2em;
    }
    &__toggle {
        display: none;
        &:checked ~ .navbar__list {
            @extend .navbar__list--open;
        }
    }
    &__list {
        display: none;
        list-style: none;
        background-color: c.$light-blue;
        &--open {
            @include m.flex(column);
            align-items: center;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            padding: 1em;
            margin: 0em;
            gap: 0.25em;
        }
    }
    &__link {
        font-size: 1.1em; 
        color: c.$deep-purple;
    }

    @include q.large-tablet {
        &__icon--toggle {
            display: none;
        }
        &__list {
                @include m.flex;
                gap: 1.5em;
        }
    }
}