@use '../mixins/media_queries' as q;
@use '../mixins/mixins' as m;

.projects {
    @include m.flex(column);
    align-items: center;
    gap: 1.5em;
    &__grid {
        display: grid;
        justify-items: center;
        width: 100%;
        grid-template: 1fr 1fr 1fr / 1fr;
        gap: 2em;
    }

    @include q.large-tablet {
        gap: 4em;
        &__grid {
            grid-template: 1fr 1fr / 1fr 1fr;
            gap: 2em;
        }
    }
    @include q.desktop {
        &__grid {
            grid-template: 1fr 1fr / 1fr 1fr 1fr;
        }
    }
}