@use '../variables/colors' as c;
@use '../mixins/media_queries' as q;
@use '../mixins/mixins' as m;
@use '../variables/sizes' as s;

.projects {
    @include m.flex(column);
    align-items: center;
    gap: 1.5em;
    &__heading {
        font-size: s.$section-heading;
        text-align: center;
        margin: 0;
    }
    &__grid {
        display: grid;
        justify-items: center;
        width: 100%;
        grid-template: 1fr 1fr 1fr / 1fr;
        gap: 2em;
    }
    &__card {
        @include m.flex(column);
        max-width: 400px; 
        padding: 1.5em;
        gap: 1.5em;
        border-radius: 20px;
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    }
    &__card-header {
        font-size: 1.5em;
        text-align: center;
        margin: 0;
    }
    &__card-image {
        object-fit: contain;
        width: 100%;
        border-radius: 20px;
    }
    &__card-text {
        margin: 0;
        text-align: center;
        font-size: s.$section-text;
        &--small {
            font-size: 1em;
        }
    }

    @include q.large-tablet {
        gap: 4em;
        &__heading {
            font-size: s.$section-heading--large-tablet;
            align-self: flex-end;
            text-align: right;
        }
        &__grid {
            grid-template: 1fr 1fr / 1fr 1fr;
            gap: 2em;
        }
        &__card {
            padding: 1.75em;
            gap: 1.75em;
        }
        &__card-header {
            font-size: 1.75em;
        }
        &__card-image { 
            max-width: 435px;
        }
        &__card-text {
            font-size: s.$section-text--large-tablet;
            &--small {
                font-size: 1.1em;
            }
        }
    }
    @include q.desktop {
        &__grid {
            grid-template: 1fr 1fr / 1fr 1fr 1fr;
        }
    }
}