@use '../variables/colors' as c;
@use '../mixins/media_queries' as q;
@use '../mixins/mixins' as m;
@use '../variables/sizes' as s;

.tech-skills {
    @include m.flex(column);
    align-items: center;
    background-color: c.$teal;
    color: c.$pale-blue;
    gap: 2em;
    &__heading {
        font-size: s.$section-heading;
        text-align: center;
        margin: 0;
    }
    &__grid {
        @include m.flex(row, center);
        flex-wrap: wrap;
        gap: 2em;
    }
    &__card {
        @include m.flex(column, center);
        align-items: center;
    }
    &__card-icon {
        font-size: 2em;
    }
    &__card-label {
        font-size: s.$section-text;
    }

    @include q.large-tablet {
        @include m.flex(row, space-evenly);
        &__heading {
            font-size: s.$section-heading--large-tablet;
            text-align: left;
            width: 60%;
        }
        &__grid {
            gap: 3em;
        }
        &__card-icon {
            font-size: 2.5em;
        }
        &__card-label {
            font-size: s.$section-text--large-tablet;
        }
    }
}