@use '../mixins/media_queries' as q;
@use '../mixins/mixins' as m;

.tech-stack {
    @include m.flex(column, center);
    align-items: center;
    gap: 2em;
    &__grid {
        @include m.flex(row, center);
        flex-wrap: wrap;
        gap: 2em;
    }
    &__card {
        @include m.flex(column, center);
        align-items: center;
    }
    &__card-icon {
        font-size: 2em;
    }

    @include q.large-tablet {
        @include m.flex(row, space-evenly);
        &__heading {
            width: 60%;
        }
        &__grid {
            gap: 3em;
        }
        &__card-icon {
            font-size: 2.5em;
        }
    }
}