@use "../mixins/media_queries" as q;
@use "../mixins/mixins" as m;

.tech-stack {
  @include m.flex(column, center);
  align-items: center;
  gap: 2em;
  &__grid {
    @include m.flex(row, center);
    flex-wrap: wrap;
    gap: 2em;
  }
  &__card {
    @include m.flex(column, center);
    align-items: center;
    justify-content: center;
    width: 90px;
    background-color: #ffffff10;
    border: 1px solid #ffffff15;
    border-radius: 20px;
    gap: 0.5em;
    aspect-ratio: 1 / 1;
  }
  &__icon {
    font-size: 2em;
  }
  &__label {
    font-size: 0.8em;
    margin: 0;
  }

  @include q.large-tablet {
    gap: 3em;
    &__heading {
      width: 100%;
    }
    &__grid {
      gap: 3em;
      max-width: 80%;
    }
    &__card {
      width: 120px;
      gap: 0.75em;
    }
    &__icon {
      font-size: 3em;
    }
    &__label {
      font-size: 1em;
    }
  }

  @include q.large-desktop {
    &__card {
      width: 150px;
    }
    &__icon {
      font-size: 4em;
    }
    &__label {
      font-size: 1.25em;
    }
  }
}
