@use "../variables/colors" as c;
@use "../mixins/media_queries" as q;

.typewriter {
  &::after {
    content: "|";
    color: c.$accent;
    animation: blink-caret 0.75s step-end infinite;
  }
}

@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
